

body{
  font-family: 'Indie Flower', cursive;
}

nav{
  display:flex;
  flex-direction: row;
  margin: 5%;
  justify-content: space-between;
  border: solid 4px black;
  padding: 0% 5% 0% 5%;
  align-items: center;
  
}

.nav-link{
  margin-right: 1rem;
  font-size: 1.3rem;

}

.title{
  font-size: 2rem;
  margin-top: 10%;
}

.link-container{
  margin-top: 5%;
}

.top-image{
  background-image: url("../Images/homepizza.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
  padding: 5%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.img-link{
  background-color: rgb(85, 83, 82);
  border: solid 2px black;
  border-radius: 5px;
  padding: 2%;
  opacity: .8;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.img-link:hover{
  box-shadow: 0 0 5px 5px;
}

.order-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-img{
  background-image: url("../Images/formpizza.jpeg");
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  width: 90%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

form{
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  margin-top: 5%;
  margin-bottom: 10vh;
}

label{
  margin-bottom: 2%;
  
}

.topping-list{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-button{
  padding: 2%;
  font-family: 'Indie Flower', cursive;
  align-content: center;
}

.order-button:hover{
  background-color: rgb(209, 60, 60);
  color: white;
}

.error{
  color:red;
  font-size: .8rem;
  font-weight: bold;
}
